body {
    background-image: url("https://static.comicvine.com/uploads/original/11117/111174799/4659498-hulktransformation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.signform {
    width: 45%;
    color: aliceblue;
    align-items: center;
    margin: 10% auto;
    text-shadow: color: rgba(166, 255, 0, 0.863);
    text-shadow: 1px 1px 1px black;

}

h1 {
    text-align: center;
    color: rgba(166, 255, 0, 0.863);
    text-shadow: 3px 3px 1px black;
}