#calculator {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    height: auto;
    width: 75vw;
    border: 1px solid black;
    background-color: green;
}

#calculatorkeys {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;

}