body {
    height: 100vh;
    position: relative;
    background-image: url("https://cdn.mos.cms.futurecdn.net/jx5d5Rkrtg2xyFR7MvHZXT-970-80.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0;


}

nav {
    background-color: darkolivegreen;
    width: 100%;
    display: flex;
    position: fixed;
    font-size: 25px;
    Height: 80px;
    vertical-align: top;
    border-bottom: 1px groove greenyellow;

}

nav ul {
    display: inline;
    list-style: none;
    margin: 0 auto;


}

nav li {
    display: inline;
    list-style: none;
    height: 80px;
    line-height: 80px;



}

nav img {
    height: 90px;
    vertical-align: top;

}

footer {

    font-size: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

h1 {
    font-size: 85px;
    margin: 0;
    padding-top: 80px;
    text-align: center;
    text-shadow: 10px 1px 10px green;

}

div {
    display: inline-block;
    font-size: 35px;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-block-start: 105px;
}

@media only screen and (min-width: 600px) {
    h1 {
        color: dodgerblue;
    }

    @media only screen and (min-width: 600px) {
        body {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0CC_xXQzVZQ8Z58RAlPnqmODvQIxLW5DmAg&usqp=CAU");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            margin: 0;

        }
    }


    @media screen and (min-width:600px) {
        nav {
            font-size: 40px;
        }
    }


    /*min-width = if the screen is at least Ypx then it'll change */
    @media screen and (min-width: 600px) {
        div {
            text-shadow: 12px 8px 8px rgba(28, 255, 5, 0.4);

        }
    }