.yoyoyo {
    display: flex;
    border: 2px solid red;
    padding: 3px;
    align-items: flex-end;
    margin: 3vh;
}


div {
    flex-direction: column;
    text-align: center;
    font-size: 5vh;
    color: white;

}

#one {
    height: 13vh;
    width: 100%;
    align-items: top;
    background-color: aquamarine;
    text-align: center;
    line-height: 13vh;
}

#two {
    height: 12vh;
    width: 25vw;
    margin: .5vh 0vh .5vh 0vh;
    align-items: flex-end;
    text-align: center;
    background-color: aquamarine;
    line-height: 12vh;
}

#three {
    height: 13vh;
    width: 100%;
    align-items: bottom;
    background-color: aquamarine;
    line-height: 13vh;
}



/*body {
    background-color: lightblue;

}1

.flex {

    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex>div {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
    color: azure;
}*/