.container {
    margin: 0 auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pic {
    max-width: 33vw;
}

img {
    max-width: 66%;

}